@import '../../../variables.scss';
.footer {
    padding: $menu-padding;
    background-color: $footer-color;
    width: 100%;
    //height: $footer-height;
    bottom: 0;
    color: #fff;
    &__information {
        display: flex;
        justify-content: space-between;
        font-size: $footer-font-size;
        font-family: Arial, Helvetica, sans-serif;
        h2 {
            margin-bottom: $big-margin !important;
        }
        .footer-col {
            width: 200px;
        }
        .contact-info {
            color: $main-orange;
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            svg {
                margin-right: 5px;
            }
        }
        .info-item {
            display: block;
            line-height: 1.2;
            margin-bottom: 18px;
        }
    }
    &__copyright {
        width: 711px;
        border-top: 2px solid $footer-line-color;
        padding: 15px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .text {
            margin-left: 100px;
            font-size: $h3-font-size;
        }
    }
    &__logo {
        width: auto;
        height: 50px;
        .st0 {
            fill: $logo-white;
        }
        .st01 {
            fill: $logo-border;
        }
        .st1 {
            fill: $logo-white;
        }
    }
}