@import '../../../variables.scss';
.articles-head {
    width: 100%;
    &__background {
        position: relative;
        width: 100%;
        height: $news-cover-height;
        background: url('../../../assets/images/BHRC_news_cover.jpg');
        background-size: cover;
        background-position-y: center;
    }
    &__text {
        height: $news-cover-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            color: #fff;
        }
        p {
            color: #fff;
            max-width: $news-p-height;
        }
    }
}

@media screen and (min-width: $width-4K) {
    .articles-head {
        &__background {
            height: $news-cover-height*2;
        }
        &__text {
            height: $news-cover-height*2;
            p {
                max-width: $news-p-height*2;
            }
        }
    }
}